* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #f63232;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header h1 {
  color: white;
  border: 5px solid white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
}
.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  /* to position the welcome text on top of the banner image. */
  position: absolute;
  left: 0;
  top: 30%;
  color: white;
  padding: 30px;
  background-color: #feb614;
}

.banner h2 {
  font-size: 65px;
}

.banner span {
  /* 1.2 times the size the font size of it's parent element */
  font-size: 1.2em;
}

nav {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
  position: sticky;
  top: 100px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  list-style: none;
  font-size: 24px;
}
nav li a {
  text-decoration: none;
  color: #4b4b4b;
}
nav li .join {
  color: #f63232;
}

main {
  max-width: 100%;
  margin: 80px auto;
  padding: 0 40px;
}

article h2 {
  color: #f63232;
  font-size: 40px;
}
article p {
  color: #4b4b4b;
  line-height: 2em;
}

.images {
  text-align: center;
  margin: 80px auto;
  display: flex;
  justify-content: space-evenly;
}

.images li {
  list-style: none;
  width: 30%;
}
.images li img {
  /* maximum width as much as the size of the parent (40%) */
  max-width: 100%;
}

.Join {
  background-color: #f4f4f4;
  color: #4b4b4b;
  padding: 60px 20px;
  text-align: center;
}

.Join h2 {
  font-size: 36px;
}

.Join p {
  padding: 5px 0;
}
form input {
  margin: 20px 0;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 28px;
  border: 2px solid white;
}

footer {
  background-color: #f63232;
  color: white;
  padding: 10px;
  text-align: center;
}

/* pseudo classes */

nav li :hover {
  text-decoration: underline;
}

.images li :hover {
  position: relative;
  top: -4px;
}

form input:focus {
  border: 2px solid #4b4b4b;
  outline: none;
}
form input:valid {
  border: 2px solid #71d300;
}

/* pseudo elements */

article p::first-line {
  font-size: 1.2em;
  font-weight: bold;
}

p::selection {
  background-color: #f63232;
}

article p::after {
  /* adds the content right after the selected element */
  content: "...";
}

/* responsive styles */
@media screen and (max-width: 1200px) {
  /* at 1200 pixels and anything below that */

  .banner h2 {
    font-size: 50px;
  }
  nav li {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .banner h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 700px) {
  /* To position the welcome text back again inside the page flow  */
  .banner .welcome {
    position: static;
    text-align: center;
    padding: 10px;
  }
  .banner .welcome h2 {
    font-size: 25px;
  }
  .banner .welcome br {
    display: none;
  }
  .banner .welcome span {
    font-size: 1em;
  }
  .images {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .images li {
    width: 100%;
  }
}

@media screen and (max-width: 655px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 4px 0;
  }
  header {
    position: static;
  }
  nav {
    top: 0px;
  }
  form input {
    width: 100%;

    font-size: 1em;
  }
}
